body{
    background-image: url("http://media.nj.com/entertainment_impact_dining/photo/beers-65b0e14db8e61765.jpg");
    background-size: cover;
   }

h1 {
       color: #fff;
       font-family: fantasy ,serif;
       font-size: 72px;
       text-shadow: 4px 3px 1px rgb(109, 2, 2);
       margin-top: 36px;
       text-align: center;
   }

hr {
	border-top: 5px solid rgb(109, 2, 2);
}
/*Style Text*/
p {
	margin-right: 20px;
    margin-left: 30px;
	font-family: sans-serif;
	color :#04fc14;
    font-size: 22px;
    letter-spacing: 2px;

}
/*Style Buttons
<!--Start Button. Centering with css wouldn't work??? -->
<center><button onclick="myFunction()">Begin Game</button></center>

button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: red;
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
    border-radius: 3px;
    width: 400px;
    
}
*/
h2 {
    padding: 20px;
    margin-left: 30px;
	font-family: sans-serif;
	color: white;
    font-size: 30px;
    letter-spacing: 2px;
}

.instructions {
    text-align: center;
}

#show-number, h3 {
    padding: 10px;
    margin-left: 30px;
	font-family: sans-serif;
	color: #04fc14;
    font-size: 30px;
    letter-spacing: 2px;
}
/*.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
*/
#submit{
	font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
	background-color: green;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
    background-color: rgb(109, 2, 2);
    text-align: center;
}

#quiz {
    margin-right: 10px;
    margin-left: 30px;
    font-family: sans-serif;
	color: #04fc14;
    font-size: 22px;
    letter-spacing: 2px;
}

#results {
    padding: 20px;
    margin-left: 20px;
    font-family: sans-serif;
	color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
}
